# ==================== APP ====================
NEXT_PUBLIC_APP_NAME=PKBM RIDHO
NEXT_PUBLIC_APP_URL=http://localhost:3000

# ==================== AUTH ====================
# Ganti dengan string acak yang panjang saat production
JWT_SECRET=change-this-to-a-very-long-random-secret-at-least-64-characters
JWT_EXPIRES_IN=24h

# ==================== DATABASE (PostgreSQL) ====================
# Format: postgresql://USER:PASSWORD@HOST:PORT/DB_NAME?schema=public
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/company_profile?schema=public

# ==================== UPLOAD LIMITS (bytes) ====================
# 5 MB
UPLOAD_MAX_SIZE_IMAGE=5242880
# 20 MB
UPLOAD_MAX_SIZE_DOCUMENT=20971520
